window-rule {
  clip-to-geometry true
  geometry-corner-radius 12
  draw-border-with-background false
}

window-rule {
  match app-id="dev.noctalia.Noctalia"
  open-floating true
  default-column-width { fixed 1200; }
  default-window-height { fixed 920; }
}

layer-rule {
    match namespace="^noctalia-backdrop"
    place-within-backdrop true
}

window-rule {
    match app-id="^kitty$"
    background-effect {
        blur true
    }
}

window-rule {
    match is-active=false
    opacity 0.85
}
window-rule {
    match app-id="swayimg"
    open-floating true
    default-column-width { proportion 0.8; }
    default-window-height { proportion 0.85; }
    // paste the same background-effect/blur lines from your kitty rule here
}
